
#tableProduct th {
    border: 1px solid #EDEDED;
    background-color: #337ab7;
    color: #ffffff;
    height: 60px;
    text-align: center;
    font-size: 0.7em;
}
#results td{
    border: 1px solid #EDEDED;
    background-color: #ffffff;
    height: 40px;
    font-size: 0.8em;
    padding-left: 10px;
}
.groupButton{
    text-align: right;
}
.groupButton a{
    text-decoration: none;
    padding: 4px;
}
.labelCount{
    margin: 10px 0px 10px 0px;
    text-align: right;
}
.checkAllCheckBox {
    text-align: right;
}
.myPagination{
    text-align: center;
    margin-top: 10px;
}
.imgLoading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.imgLoading img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}
#formInput {
    margin-bottom: 5px;
}
#formInput input:focus {
    background-color: #9FB7D4;
}
#productSelected {
    margin-top: 10px;
    margin-top: 10px;
    display: inline;
}
.labelProductSelected{
    border: 1px solid #000000;
    margin-right: 5px;
    padding: 5px 15px 5px 15px;
}
.inputProduct {
    margin: 0% 10% 3% 10% ;
}
.btnMenu{
    padding: 0;
    border: none;
    background: none;
}
.btnMenu img{
    width: 15px;
}
.lbStt{
    margin-left: 25%;
}
.menu{
    position: relative;
    display: inline-block;
}
.menu-content{
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.04);
    z-index: 1;
}
.menu-content button{
    color: rgba(0, 0, 0, 0.84);
    width: 60px;
    border-color: transparent;
    background-color: #f3f3f3;
}
.menu-content button:hover {border-color: #f1f1f1}

.lb_t_admin_id{
    margin-left: 40%;
}
#tableUser th {
    border: 1px solid #EDEDED;
    background-color: #337ab7;
    color: #ffffff;
    height: 60px;
    text-align: center;
    font-size: 0.7em;
}
#resultsUser td{
    border: 1px solid #EDEDED;
    background-color: #ffffff;
    height: 40px;
    font-size: 0.8em;
    padding-left: 10px;
}

.menuUser {
    display: none;
    position: relative;
}

.menuUser-content {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 4px 0px 4px 0px;
    z-index: 1;
}

.menuUser-content a {
    text-decoration: none;
    color: #001a35;
}
.itemMenu:hover {
    background-color: rgba(21, 21, 21, 0.27);
}
.itemMenu {
    padding: 2px 10px 2px 10px;
}
.groupBtnChangeStatus{
    margin: 10px;
    text-align: right;
}
.groupBtnChangeStatus a{
    text-decoration: none;
    padding: 4px;
}
.labelUserSelected{
    border: 1px solid #000000;
    margin-right: 5px;
    padding: 5px 15px 5px 15px;
}

#tableGroup th {
    border: 1px solid #EDEDED;
    background-color: #337ab7;
    color: #ffffff;
    height: 60px;
    text-align: center;
    font-size: 0.7em;
}
#resultsGroup td{
    border: 1px solid #EDEDED;
    background-color: #ffffff;
    height: 40px;
    font-size: 0.8em;
    padding-left: 10px;
}
.lb_group_id{
    margin-left: 40%;
}
.menuGroup {
    display: none;
    position: relative;
}

.menuGroup-content {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 4px 0px 4px 0px;
    z-index: 1;
}

.menuGroup-content a {
    text-decoration: none;
    color: #001a35;
}
.itemMenu:hover {
    background-color: rgba(21, 21, 21, 0.27);
}
.itemMenu {
    padding: 2px 10px 2px 10px;
}
.groupBtnChangeRule{
    margin: 10px;
    text-align: right;
}
.groupBtnChangeRule a{
    text-decoration: none;
    padding: 4px;
}
.labelGroupSelected{
    border: 1px solid #000000;
    margin-right: 5px;
    padding: 5px 15px 5px 15px;
}
.itemRule {
    margin: 5px 0px 0px 5px;
}
.itemRule input {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    padding: 5px;
}
.itemRule label {
    margin-left: 10px;
}

.tableOrder th {
    background-color: #337ab7;
}
.labelTable a{
    color: #ffffff;
}
.labelTable label{
    color: #ffffff;
    font-weight: 500;
}
.formInput {
    margin-left: 10%;
    margin-bottom: 5px;
}
.formInput input:focus {
    background-color: #9FB7D4;
}
.groupButtonOrder{
    text-align: right;
    margin: 5px;
}
.paginationOrder{
    margin: 10px 10px 10px 35%;
}
.paginationOrder ul{
    display: inline;
}
#per_page{
    margin-left: 10px;
    display: inline;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

